<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- value as tag -->
	<bean name="e1"  class="com.dz.app.Employee">
		<property name="id">
		  <value>1</value>
		</property>
		<property name="name">
		  <value>amit</value>
		</property>
		<property name="address">
		  <value>pune</value>
		</property>
	</bean>
	
	
<!-- value as attribute -->
	<bean name="e2"  class="com.dz.app.Employee">
        <property name="id" value="2" />
        <property name="name" value="deepak" />
        <property name="address" value="pune" />
    </bean>
	

<!--  p-namespace -->	
	<bean name="e3"  class="com.dz.app.Employee" p:id="3" p:name="shunham" p:address="nagpur" />
    
</beans>   