<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/lang
        http://www.springframework.org/schema/lang/spring-lang.xsd">        

    <!-- <context:annotation-config/> -->

<!--  to activate BeanLifecycle annotation we need to create one class object   -->
    
 <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
 


 <!-- <bean name="product1"  class="com.dz.app.beanLifecycle.annotationAproch.Product" p:name="LG tv" p:price="45000" /> -->
 <bean name="product1"  class="com.dz.app.beanLifecycle.annotationAproch.Product" > 
	  <property name="name" value="LG tv" />
	   <property name="price" value="45000" /> 
  </bean> 
    
</beans>   